// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$blue:   #008ec2;
$red:    #f42b17;
$state-warning-bg: #f1efe6;
