{% extends "canvas.html" %}
{% block title %}Lucas Maystre - papers, projects, code, etc.{% endblock %}
{% block head %}
  <!-- OpenID 2.0 -->
  <link rel="openid2.provider"
      href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id"
      href="https://openid.stackexchange.com/user/1f326079-da47-43c9-81f9-e7dab763d3fd">
{% endblock %}
{% block content %}
  <div id="description">
    <img src="/static/img/photo.jpg" alt="Lucas Maystre" width="250px" />
    <div class="homebox">
      <p>
        <strong>Hi, I'm Lucas</strong>, a PhD candidate in Computer Science at <a
        href="http://ic.epfl.ch">EPFL</a>. My research
        interests revolve around <span class="interest">machine learning</span>
        and its applications to recommender systems.
      </p>
    </div>
    <p>
      My thesis is about <strong>learning preferences from
      comparisons</strong>. I'm studying this problem from a
      statistical and algorithmic perspective.
      Since 2016, my work is supported by a <a
      href="http://goo.gl/fgXi1N">Google PhD fellowship</a>.
    </p>
    <div class="social">
      <p>Find me on</p>
      <ul class="social">
        <li><a href="https://www.facebook.com/lm">Facebook</a></li>
        <li><a href="https://github.com/lucasmaystre">GitHub</a></li>
        <li><a href="https://people.epfl.ch/lucas.maystre">People@EPFL</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <h2>Papers & resources</h2>

  <p>
    Below is a list of recent papers. I also maintain a
    <a href="https://scholar.google.ch/citations?user=tZ5vogwAAAAJ">Google Scholar page</a>.
    For more context on the projects behind these publications, check out the
    <a href="/projects">projects page</a>.<br>
  </p>

  <div class="publication publist">
    <p>
      <strong>Fast and Accurate Inference of Plackett&ndash;Luce Models</strong><br>
      L. Maystre, M. Grossglauser, NIPS, 2015.
    </p>
    <ul>
      <li class="first"><a href="http://infoscience.epfl.ch/record/213486">fulltext</a></li>
      <li><a
      href="https://s3-eu-west-1.amazonaws.com/lum-public/fastinference-slides.pdf">slides</a></li>
      <li><a
      href="http://infoscience.epfl.ch/record/213486/files/luce.py">code</a></li>
    </ul>
  </div>

  <div class="publication publist">
    <p>
      <strong>Robust Active Ranking from Sparse Noisy Comparisons</strong><br>
      L. Maystre, M. Grossglauser, Feb. 2015, preprint, <tt>arXiv:1502.05556 [stat.ML]</tt>.
    </p>
    <ul>
      <li class="first"><a href="http://arxiv.org/abs/1502.05556">fulltext</a></li>
    </ul>
  </div>

  <div class="publication publist">
    <p>
      <strong>Mitigating Epidemics through Mobile Micro-measures</strong><br>
      M. Kafsi, E. Kazemi, L. Maystre, L. Yartseva, M.
      Grossglauser, P. Thiran, Feb. 2013, preprint, <tt>arXiv:1307.2084
      [cs.SI]</tt>.
    </p>
    <ul>
      <li class="first"><a href="http://arxiv.org/abs/1307.2084">fulltext</a></li>
      <li><a href="https://s3-eu-west-1.amazonaws.com/lum-public/poster-d4d.pdf">poster</a></li>
      <li><a href="https://s3-eu-west-1.amazonaws.com/lum-public/m3-netmob.pdf">slides</a></li>
      <li><a href="http://www.youtube.com/watch?v=qC9H6eR0vcY">video</a></li>
    </ul>
  </div>

  <div class="publication publist">
    <p>
      <strong>Music Recommendation to Groups</strong><br>
      L. Maystre, M.Sc. thesis, EPFL, Switzerland, 2012.
    </p>
    <ul>
      <li class="first"><a href="http://infoscience.epfl.ch/record/183559">fulltext</a></li>
      <li><a href="https://groupstreamer.com/static/bin/poster.pdf">poster</a></li>
      <li><a href="https://github.com/lca4">code</a></li>
      <li><a href="https://play.google.com/store/apps/details?id=ch.epfl.unison">app</a></li>
    </ul>
  </div>

  <p>
    I aim to share all the code and data that is involved in my research.
    Some of it is available on
    <a href="https://github.com/lucasmaystre">GitHub</a>.
    If you cannot find something, please contact me.
  </p>


{% endblock %}
