{% extends "canvas.html" %}
{% block title %}Lucas Maystre - papers, projects, code, etc.{% endblock %}
{% block head %}
  <!-- OpenID 2.0 -->
  <link rel="openid2.provider"
      href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id"
      href="https://openid.stackexchange.com/user/1f326079-da47-43c9-81f9-e7dab763d3fd">
{% endblock %}
{% block content %}
  <div id="description">
    <img src="/static/img/photo.jpg" alt="Lucas Maystre" />
    <p>
      <strong>Hi, I'm Lucas</strong>, a PhD student at
      the School of Computer and Communication Sciences at <a
      href="http://ic.epfl.ch">EPFL</a>. My research
      interests revolve around <span class="interest">machine learning</span>
      and its applications to <span class="interest">recommender systems</span>.
    </p>
    <p>
      I also <strong>enjoy coding</strong> and had the opportunity to intern
      at <a href="https://goo.gl/tuNNNm">Google</a> and <a
      href="http://goo.gl/PweRnG">Facebook</a>. On week-ends, I'm a
      football referee.
    </p>
    <div class="clear"></div>
  </div>
      
  <!-- ======== News ======== -->
  <div class="highlight">
    <h2>Highlight</h3>
    <p>My paper <em>
    <a
    href="http://infoscience.epfl.ch/record/213486/files/fastinference.pdf">Fast
    and Accurate Inference of Plackett&ndash;Luce Models</a>
    </em>
    has been accepted at NIPS 2015.
    </p>
  </div>


  <h2>Projects &amp; Code</h2>

  <p>
    My PhD thesis is about <strong>learning preferences from
    comparisons</strong>. I believe that comparing things (movies, restaurants,
    &hellip;) is much more natural for users, and tomorrow's recommender
    systems will benefit from this. I'm studying this problem from <a
    href="http://arxiv.org/abs/1502.05556">statistical underpinnings</a> to <a
    href="http://infoscience.epfl.ch/record/213486">algorithms</a> and
    applications.
  </p>
    
  <p>
    You can find relevant publications &amp; code on the <a href="/projects">the
    dedicated page</a>. Other projects that I'm working on include:
  </p>

  <ul>
    <li><strong>GroupStreamer</strong>, a music recommender system for
      groups of people. For more information, check out <a
      href="https://groupstreamer.com/">groupstreamer.com</a>.</li>
    <li><strong>Mobile Micro-measures</strong>, an attempt to develop original
      mitigation measures against epidemics of infectious diseases. Read the <a
      href="http://arxiv.org/abs/1307.2084">paper</a> or the <a
      href="https://s3-eu-west-1.amazonaws.com/lum-public/poster-d4d.pdf">poster</a>.</li>
  </ul>

  <p>
    Generally speaking I try to share all the code related to the projects
    I've worked on. The relevant repositories are often found on my
    <a href="https://github.com/lucasmaystre">GitHub</a>.
  </p>

  <h2>Elsewhere on the Web</h2>

  <p>There are a few other places where you might find me at.</p>
  <ul>
    <li>Check out my <a
        href="http://scholar.google.ch/citations?user=tZ5vogwAAAAJ&hl=en">Google
      Scholar</a> profile.
    <li>I'm on <a href="https://www.facebook.com/lm">Facebook</a>. How
      special.</li>
    <li>On <a
      href="https://github.com/lucasmaystre">GitHub</a> I even have a repo
      for recipes.</li>
    <li>Photography is one of my hobbies, and <a
      href="http://flickr.com/photos/lucasmaystre/">I have some pics on
      flickr</a>.</li>
    <li>Some <a href="https://pinboard.in/u:lum">bookmarks</a> of mine are
      publicly available.</li>
    <li>Vim is my editor of choice, and I wrote a <a href="/vim">short
      article</a> on its usage.
  </ul>
{% endblock %}
