<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<title>LAMA personal best-of</title>
	<link rel="stylesheet" type="text/css" media="screen" href="#" />
	<style type="text/css">
body {
    background-color: #CCC;
}

div#player {
    position: absolute;
    width: 250px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -200px;
}
    </style>
</head>
<body>
	<div id="player">

<object width="250" height="400"
    classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsPlaylist81613364"
    name="gsPlaylist81613364"><param name="movie"
    value="http://grooveshark.com/widget.swf" />
  <param name="wmode" value="window" />
  <param name="allowScriptAccess" value="always" />
  <param name="flashvars" value="hostname=grooveshark.com&playlistID=816133&p=0" />
  <object
      type="application/x-shockwave-flash"
      data="http://grooveshark.com/widget.swf"
      width="250" height="400">
    <param name="wmode" value="window" />
    <param name="allowScriptAccess" value="always" />
    <param name="flashvars"
        value="hostname=grooveshark.com&playlistID=816133&p=0" />
    <span>
      <a href="http://grooveshark.com/search/playlist?q=lama%20Benjamin%20Giuliano"
          title="lama by Benjamin Giuliano on Grooveshark">
        lama by Benjamin Giuliano on Grooveshark
      </a>
    </span>
  </object>
</object>
	
	</div>
</body>
</html>
