{% extends "canvas.html" %}
{% block title %}Fast and Accurate Inference of Plackett-Luce Models - lucas.maystre.ch{% endblock %}
{% block content %}

<p><strong>Note</strong>: work in progress.</p>

<h2>Fast and Accurate Inference of Placket-Luce Models</h2>

<p>Paper to be presented at NIPS 2015.</p>

<ul>
  <li><a href="http://infoscience.epfl.ch/record/213486/files/fastinference.pdf">Paper</a></li>
  <li><a href="http://infoscience.epfl.ch/record/213486/files/supplementary.pdf">Appendix</a></li>
  <li><a href="http://infoscience.epfl.ch/record/213486/files/luce.py">Code</a></li>
  <li><a href="http://infoscience.epfl.ch/record/213486">Infoscience record</a></li>
</ul>
{% endblock %}
