{% extends "canvas.html" %}
{% block title %}Fast and Accurate Inference of Plackett-Luce Models - lucas.maystre.ch{% endblock %}
{% block content %}

<div class="highlight">
  <p><strong>I am looking for an internship in 2016!</strong>
  I am broadly interested in machine learning, and applications to recommender
  systems. <a href="mailto:lucas@maystre.ch">Send me an e-mail</a> if you think
  we could work together.</p>
</div>

<h2>Fast and Accurate Inference of Placket-Luce Models</h2>

<p>Paper presented at <a
href="http://papers.nips.cc/paper/5681-fast-and-accurate-inference-of-plackettluce-models">NIPS
2015</a>.</p>

<ul>
  <li><a href="http://infoscience.epfl.ch/record/213486/files/fastinference.pdf">Paper</a></li>
  <li><a href="https://s3-eu-west-1.amazonaws.com/lum-public/fastinference-poster.pdf">Poster</a></li>
  <li><a href="https://s3-eu-west-1.amazonaws.com/lum-public/fastinference-slides.pdf">Slides</a></li>
</ul>

<p>More details.</p>

<ul>
  <li><a href="http://infoscience.epfl.ch/record/213486/files/supplementary.pdf">Supplementary PDF</a></li>
  <li><a href="http://infoscience.epfl.ch/record/213486/files/luce.py">Code</a></li>
  <li><a href="http://infoscience.epfl.ch/record/213486">Infoscience record</a></li>
</ul>

<p>
  If you are interested in using / comparing our algorithms, <strong>check out
  <a href="https://github.com/lucasmaystre/choix">choix</a></strong>, a Python
  library for research on choice models. <em>(Work in progress.)</em>
</p>

{% endblock %}
