{% extends "canvas.html" %}
{% block title %}Projects - lucas.maystre.ch{% endblock %}
{% block content %}
  <p>
    This page presents <strong>selected projects I am currently working on, or
    have been involved with in the past</strong>. Whenever possible, I try to
    make the code and the data publicly available; don't hesistate to <a
    href="mailto:lucas@maystre.ch">send me an e-mail</a> if you don't find
    something.
  </p>

  <h2>Learning Preferences from Choices</h2>

  <p>
  Recently, <a
  href="http://papers.nips.cc/paper/4701-iterative-ranking-from-pair-wise-comparisons">Negahban,
  Oh and Shah</a> proposed an elegant random-walk algorithm for aggregating
  pairwise comparisons into ranking, in the spirit of PageRank. In our work, we
  uncover a link between this spectral algorithm and maximum-likelihood
  estimation in a well-known statistical model. This link enables us to improve
  both computational and statistical efficiency of inference algorithms for
  models of the Plackett&ndash;Luce family. More details in our paper:
  </p>

  <div class="publication highlight">
    <p>
      <strong>L. Maystre</strong>, M. Grossglauser, &ldquo;Fast and Accurate
      Inference of Plackett&ndash;Luce Models,&rdquo; NIPS, 2015.
    </p>
    <ul>
      <li class="first"><a href="http://infoscience.epfl.ch/record/213486">fulltext</a></li>
      <li><a
      href="https://s3-eu-west-1.amazonaws.com/lum-public/fastinference-slides.pdf">slides</a></li>
      <li><a
      href="http://infoscience.epfl.ch/record/213486/files/luce.py">code</a></li>
    </ul>
  </div>

  <p>How can one learn a ranking over items using as few comparisons as
  possible? We tackle this problem in Luce's model, when comparison outcomes are
  noisy and at times inconsistent with the the underlying ranking. It turns out
  that a simple strategy performs really well, both in theory and in practice. Read our preprint:</p>

  <div class="publication highlight">
    <p>
      <strong>L. Maystre</strong>, M. Grossglauser, &ldquo;Robust Active
      Ranking from Sparse Noisy Comparisons,&rdquo; Feb. 2015, preprint,
      <tt>arXiv:1502.05556 [stat.ML]</tt>.
    </p>
    <ul>
      <li class="first"><a href="http://arxiv.org/abs/1502.05556">fulltext</a></li>
    </ul>
  </div>

  <h2>Mobile Micro-measures</h2>

  <p>
    <img src="/static/img/lca-d4d-small.jpg" alt="Mobile Micro-measures" /> In
    the context of the <a href="http://www.d4d.orange.com/home">Data for
    Development Challenge</a> organized by Orange-France Telecom, we used data
    extracted from call detail records to <em>generate personalized
    recommendations to help curb the spread of an infectious disease</em>.  The
    idea is that by considering the microscopic details of social interactions
    and mobility we can find clever ways to mitigate an epidemic.  In
    particular, we aim to find mitigation strategies that have a <em>minimal
    impact on daily life but significantly impact the epidemic spread</em>.
  </p>
  <p>
    Our work was presented at <a
    href="http://perso.uclouvain.be/vincent.blondel/netmob/2013/">NetMob
    2013</a> in Boston. The paper we submitted for the data challenge:
  </p>
  <div class="publication highlight">
    <p>
      M. Kafsi, E. Kazemi, <strong>L. Maystre</strong>, L. Yartseva, M.
      Grossglauser, P. Thiran, &ldquo;Mitigating Epidemics through Mobile
      Micro-measures,&rdquo; Feb. 2013, preprint, <tt>arXiv:1307.2084
      [cs.SI]</tt>.
    </p>
    <ul>
      <li class="first"><a href="http://arxiv.org/abs/1307.2084">fulltext</a></li>
      <li><a href="https://s3-eu-west-1.amazonaws.com/lum-public/poster-d4d.pdf">poster</a></li>
      <li><a href="https://s3-eu-west-1.amazonaws.com/lum-public/m3-netmob.pdf">slides</a></li>
      <li><a href="http://www.youtube.com/watch?v=qC9H6eR0vcY">video</a></li>
    </ul>
  </div>

  <h2>GroupStreamer</h2>

  <p>
    <img src="/static/img/groupstreamer.png" /> <a
    href="https://groupstreamer.com/">GroupStreamer</a> is a music recommender
    system for groups of people. It was originally developped during my master's
    thesis, and released as an Android app on <a
    href="https://play.google.com/store/apps/details?id=ch.epfl.unison">Google
    Play</a>. The idea is to <em>infer musical preferences</em> based on the
    music present on users' mobile phones, and <em>automatically generate a
    playlist</em> based on the preferences of nearby people. All the code is
    available on <a href="https://github.com/lca4">GitHub</a>. For more
    information, you can read my report:
  </p>
  <div class="publication highlight">
    <p>
      <strong>L. Maystre</strong>, &ldquo;Music Recommendation to Groups,&rdquo;
      M.Sc. thesis, Ecole Polytechnique Fédérale de Lausanne, Switzerland, 2012.
    </p>
    <ul>
      <li class="first"><a href="http://infoscience.epfl.ch/record/183559">fulltext</a></li>
      <li><a href="https://groupstreamer.com/static/bin/poster.pdf">poster</a></li>
    </ul>
  </div>

  <h2>Other projects</h2>

  <p>Some smaller / older projects.</p>

  <ul>
    <li><strong>Phinishing Phishing</strong>, an extension for Firefox that
    prevents phishing by asking for the user's <em>intention</em>. Read the <a
    href="https://s3-eu-west-1.amazonaws.com/lum-public/phinishphish.pdf">report</a>
    or download the <a
    href="https://github.com/lucasmaystre/phinishphish">code</a>.</li>
    <li><strong>propassgen</strong>, a pronounceable password generator. Simply
    learns a generative model of any text as a second-order Markov chain. <a
    href="http://www.windowsphone.com/en-us/store/app/propassgen/0b4d659d-99a5-4975-acd3-24bfdf9d0b19">Windows
    Phone app</a> and <a href="">code</a> available.</li>
  </ul>

  <p>There's also some stuff that's on my <a
  href="https://github.com/lucasmaystre">GitHub account</a>, including <a
  href="https://github.com/lucasmaystre/recipe-book">cooking recipes</a> (in
  French) and my <a
  href="https://github.com/lucasmaystre/cli-utils">dotfiles</a>.</p>
{% endblock %}
